.music-item{
    width: 20%;
    margin: 0 10px;

}
.music_name{
    display:block;
    text-decoration: none;
    margin: 5px;
    font-size:1.6rem;
    color:#000;



}
.singer-name{
    margin: 5px;
    font-size: 1.4rem;
    text-decoration: none;
    color:#605a5a
}